<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>exapaq</name>
	<displayName><![CDATA[EXAPAQ]]></displayName>
	<version><![CDATA[5.0.3]]></version>
	<description><![CDATA[Offer EXAPAQ&#039;s fast and reliable delivery services to your customers]]></description>
	<author><![CDATA[EXAPAQ S.A.S.]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<confirmUninstall><![CDATA[Warning: all the data saved in your database will be deleted. Are you sure you want uninstall this module?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>